body {
    background-color: white;
    background: transparent;
    box-sizing: border-box;
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    font-size: 16px;
}

.home {
    width: 100%;
	min-height: 100vh;
    height: fit-content;
    object-fit: cover;
    object-position: 50% 50%;
    background-repeat: no-repeat;
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

.h2center img{
    width:  10em!important;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -4998px;
	width: 100px;
	height: 50px;
	background: grey;
	display: block;
	border-radius: 50px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 2.5px;
	left: 2.5px;
	width: 45px;
	height: 45px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #bada55;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 100px;
}

.basic-single{
    width: 100%!important;
}